*{
    padding:0;
    margin:0;
  }
  :root
  {
    --font : "Lato",sans-serif;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  
  .splitdiv
  {
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: var(--font);
  }
  
  .splitdiv p
  {
    font-family: var(--font);
  }
  
  .Card{
    heigh:300px;
    width:200px;
    padding:10px;
    background-color:darkblue;
    border-radius:10px;
  }
  .Card p{
    color:white;
    font-family:var(--font);
  }
  .Card a{
    text-decoration:underline;
    color:white;
  }
  
  .flex{
    display:flex;
  }
  .jcspacearound{
    justify-content:space-around;
  }
  
  .splitdiv span{
    font-size:25px;
    color:green;
    padding-top:10px;
  }
  .card-section{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }
  .fdcolmn{
    flex-direction:column;
  }
  .width50{
    width:50%;
  }
  
  .map-p{
    font-size:20px;
    margin-top:10px;
  }
  .map-butt{
    height:35px;
    width:120px;
    background-color:blue;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:white;
    border-radius:10px;
    margin-top:10px;
  }
  .flexwrap{
    justify-content:center;
    flex-wrap:wrap;
  }